Echonet-Frames-Masks-Dataset
.vs/medivs2_project/v17/.wsuo
.vs/medivs2_project/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/medivs2_project/FileContentIndex/5d926efa-faba-4ed7-a53c-c1eccaa85f6d.vsidx
cuda_test.py
eval_visualizations
evaluation_metrics.png
maskTestdata
sam_ultrasound_checkpoints/best_model.pt
closedMask.png
center_model.pth
